{% include "_header.html" %}

<body>
{% include "_back.html" %}

<section>
  <h3>Введите данные статистики:</h3>

  <form>
    <div>
      <label for="input-token">Токен доступа к сервису:</label>
      <input type="text" id="input-token">
    </div>
    <div>
      <label for="input-id">id статистики:</label>
      <input type="text" id="input-id">
    </div>
  </form>

  <button onclick="send()">Отправить</button>

  <section id="output" style="display: none">
    <img src="{{ url_for('static', filename='images/done.svg') }}" alt="done">
    <div style="color: lightgreen">Запись статистики успешно удалена, если существовала</div>
  </section>
</section>


<script>
  async function send() {
    const token = document.getElementById('input-token').value;
    const id = document.getElementById('input-id').value;
    const res = await fetch(`/statistic?token=${token}&id=${id}`, {
      method: 'DELETE',
    });
    if (res.ok) {
      document.getElementById('output').style.removeProperty('display');
    }
  }
</script>
</body>
</html>
