{% include "_header.html" %}

<body>
{% include "_back.html" %}

<section>
  <h3>Данные сервиса</h3>
  <div>Название: {{ service.name }}</div>
  <div>Дата регистрации: {{ service.registered }}</div>
</section>

<section>
  <table>
    <tr>
      <th>id</th>
      <th>Text</th>
      <th>Value</th>
      <th>Bool</th>
      <th>Время</th>
    </tr>
    {% for stat in statistics %}
    <tr>
      <td>{{ stat.id }}</td>
      <td>{{ stat.text }}</td>
      <td>{{ stat.value }}</td>
      <td>{{ stat.bool }}</td>
      <td>{{ stat.datetime }}</td>
    </tr>
    {% endfor %}
  </table>
</section>

</body>
</html>
